@{
    ViewBag.Title = "Index";
}

<h2>Rate a Game and/or a Movie!</h2>

<p class="btn btn-default">
    @Html.ActionLink("Rate a game", "GameRatingIndex", "Rating") |
    @Html.ActionLink("Rate a movie", "MovieRatingIndex", "Rating")

</p>

