@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<br />

<style type="text/css">
    body {
        background-image: url('../../Content/Assets/blueback.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
        position: relative;
        color: #fff;
    }

    #paragraph {
        margin: 0% 35% 5% 35%;
        background-color: grey;
        padding: 10px 5px;
        border-radius: 10px 10px;
        border-style: solid;
    }
</style>

<h1>Admin Roles</h1>

<p class="btn btn-default">
    @Html.ActionLink("Create Role", "Create", "Role") | 
    @Html.ActionLink("Assign Role", "RegisterRole", "Account")
</p>

<br />
<br />
<br />
<section class="col-sm-6">
    <table class="table-bordered">
        
    </table>
</section>

<div id="paragraph" style="text-align:center; color: black">
    <table class="table table-hover table-bordered" style="background-color: #fff">
        <tr style="background-color: lightgrey">
            <th class="c">
                Role Name
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="c">
                    @item.Name
                </td>
            </tr>
        }

    </table>
</div>
