@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style type="text/css">
    h2 {
        color: #fff;
    }

    body {
        background-image: url('../../Content/Assets/blueback.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    table {
        text-decoration: none;
    }
</style>

<div id="about" class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8 text-center">
                <div class="section-header">
                    <h2>Who Am I?</h2>
                    <p>A little bit about me</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-img wow animated fadeInDown" data-wow-delay="0.2s">
                    <img src="./Images/about.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="item-text">
                    <h4>.NET Software Developer</h4>
                    <p>Currently I am enrolled fulltime in the software development program at Eleven Fifty Academy. My graduation is set for April 2020. I am also apart of the Spring 2020 Cohort for SalesForce's Pathfinder program. I am learning more about the languages of HTML, CSS, and C# in depth. Furthurmore, I implement these languages in many of my applications. Prior to Eleven Fifty and the Pathfinder program, I was majoring in Kinesiology and Exercise Science at Indiana State University. After researching about software development, I believed it was the perfect fit for me. As of late, I have grown a passion for building software. I am motivated and committed to continuing my learning of C# and the building of complex applications.</p>
                </div>
            </div>
        </div>
    </div>
</div>
