@{
    ViewBag.Title = "About";
}


<style type="text/css">
    h1{
        text-align:center;
    }

    body {
        background-image: url('../../Content/Assets/blueback.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        font-size: 16px;
        color: #fff;
    }

    #paragraph {
        margin: 5% 8% 5% 8%;
    }

    table {
        text-decoration: none;
    }
</style>

<br/>
<br/>

<h1 style="font-weight:bold">About BlueBox</h1>

<div id="paragraph">
    <p>
        Hendrerit mi fames duis mus posuere vestibulum dictumst venenatis torquent! Vestibulum nascetur parturient ridiculus ad fringilla molestie tristique. Montes mi sodales primis sodales eros nibh metus fringilla libero! Nam blandit bibendum iaculis urna torquent ornare semper in dolor taciti hendrerit potenti. Pharetra libero aptent proin parturient morbi libero vestibulum congue porttitor parturient?

        Platea curae; aenean velit at! Iaculis consectetur aenean dis, aenean elementum at vestibulum libero. Interdum vulputate proin cras posuere mi sodales. Mollis id fusce vivamus malesuada felis sit sem vivamus. Ante taciti venenatis pharetra feugiat blandit fames. Cubilia arcu convallis aptent gravida pulvinar velit dapibus pulvinar vivamus inceptos posuere fringilla. Sagittis, venenatis donec tristique etiam tempor aptent potenti et rutrum. Fringilla bibendum lacinia gravida vel vehicula? In sociosqu malesuada proin semper conubia eu natoque dui mus, inceptos et. Tellus eleifend ultricies natoque porta vivamus interdum litora laoreet. Nisl tortor mauris donec morbi parturient auctor lectus vivamus.
    </p>

    <br/>
    <br/>

    <p>
        Hendrerit mi fames duis mus posuere vestibulum dictumst venenatis torquent! Vestibulum nascetur parturient ridiculus ad fringilla molestie tristique. Montes mi sodales primis sodales eros nibh metus fringilla libero! Nam blandit bibendum iaculis urna torquent ornare semper in dolor taciti hendrerit potenti. Pharetra libero aptent proin parturient morbi libero vestibulum congue porttitor parturient?
        Platea curae; aenean velit at! Iaculis consectetur aenean dis, aenean elementum at vestibulum libero. Interdum vulputate proin cras posuere mi sodales. Mollis id fusce vivamus malesuada felis sit sem vivamus. Ante taciti venenatis pharetra feugiat blandit fames. Cubilia arcu convallis aptent gravida pulvinar velit dapibus pulvinar vivamus inceptos posuere fringilla. Sagittis, venenatis donec tristique etiam tempor aptent potenti et rutrum. Fringilla bibendum lacinia gravida vel vehicula? In sociosqu malesuada proin semper conubia eu natoque dui mus, inceptos et. Tellus eleifend ultricies natoque porta vivamus interdum litora laoreet. Nisl tortor mauris donec morbi parturient auctor lectus vivamus.
        </p>
    
</div>